

@font-face {
	font-family: 'Web_OldHungarian';
	src: url('/fonts/OldHungarian.eot');
	src: url('/fonts/OldHungarian.woff') format('woff');
	font-style: normal;
	unicode-range: U+10C80-10CFF, U+200D, U+2E41, U+2E42;
}
  
         h1 {
          color: green;
          font-family: 'Web_OldHungarian';
          
        } 
        h2 {
          color: green;
        } 
        h3 {
          color: green;
        }
        h4 {
          color: green;
        }
        h5{
          color: green;
        }
        h6 {
          color: green;
        }
     