@font-face {
  font-family: 'Rovas MA JB';
  font-style: normal;
  font-weight: normal;
  src: url('/css/fonts/rov_ma_jb.ttf')
unicode-bidi: bidi-override;
  text-transform: none !important;
  direction: rtl;
  font-weight: normal;
}
h1 {
font-family: 'Rovas MA JB' ;

  color: green;
    text-align: left;
  } 
  h2 {
    
    color: green;
    text-align: left;
  } 
  h3 {
    font-family: "Permanent Marker";
    color: green;
    text-align: left;
  }
  h4 {
    font-family: "Permanent Marker";
    color: green;
    text-align: left;
  }
  h5{
    font-family: "Permanent Marker";
    color: green;
    text-align: left;
  }
  h6 {
    font-family: "Permanent Marker";
    color: green;
    text-align: left;
  }
 