
@font-face {
  font-family: 'OldHungarian';
  src: url('OldHungarian.eot?#iefix') format('embedded-opentype'),  url('OldHungarian.woff') format('woff'), url('OldHungarian.ttf')  format('truetype'), url('OldHungarian.svg#OldHungarian') format('svg');
  font-weight: normal;
  font-style: normal;
}
